@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Ubuntu:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
}

.container{
    max-width: 250vh;
}

/* Navbar */
nav{
    font-family: 'Poppins', sans-serif;
    background-color: #34495E;
    color: beige;
    /* position: fixed;
    top: 0; */
}

.navbar {
    display: flex;
    height: 65px;
    background-color: #34495E;
}

.navbar li {
    list-style: none;
    margin: 0 17px;
    background-color: #34495E;
    cursor: pointer;
}

.navbar li a{
    text-decoration: none;
    color: #f0f0e6;
    font-size: 1.2rem;
    padding: 0.3rem;
}

.navbar a:hover{
    border-bottom: 2px solid #BDC3C7 ;
}

.home-content{
    width: auto;
    height: 578px;
    background-color: #34495E;
}
.home-content .name{
    font-family: 'Ubuntu', sans-serif;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: beige;
    width: 100%;
    text-align: center;
}

.angle-down-icon{
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2rem;
    color: beige;
}

.angle-down-icon a {
    text-decoration: none;
    color: beige;
    padding: 1rem;
}

.angle-down-icon a:hover{
    color: #1C2833;
    transition: all 0.3s ease-in-out;
}

/* About */

.about-content{
    font-family: 'Ubuntu', sans-serif;
    width: auto;
    height: 675px;
    background-color: #566573;
}

.about-content h3{
    padding-top: 40px;
    margin-bottom: 50px;
    font-size: 2.5em;
    color: #1C2833 ;
    display: flex;
    justify-content: center;
}

.about-left{
    padding: 50px 20px;
    margin-left: 100px;
    width: 75%;
    height: 60vh;
    background-color: #BDC3C7;
    border-radius: 50%;

}

.about-left img{
    width: 300px;
    height: 300px;
    position: absolute;
    top: 145%;
    left: 19%;
    transform: translate(-50%, -50%);
    cursor: pointer;
}


.about-right{
    flex-direction: column;
    margin-left: 50px;
    margin-right: 100px;
    justify-content: center;
    margin-top: 70px;
    width: 250%;
    height: 30vh;
}

.about-right p{
    font-size: 1.2em;
    text-align: center;
    color: #BDC3C7;
    line-height: 35px;
}

/* Skills */

.skills{
    font-family: 'Ubuntu', sans-serif;
    width: auto;
    height: 655px;
    background-color: #34495E;
}

.skills h3{
    padding-top: 40px;
    margin-bottom: 50px;
    font-size: 2.5em;
    color: beige ;
    display: flex;
    justify-content: center;
}

.skills-bar {
    padding: 25px 400px;
}

.skills-bar .bar {
    margin: 25px 0;
}

.skills-bar .bar .info span {
    font-size: 1rem;
    font-weight: 500;
}

.skills-bar .bar .info {
    margin-bottom: 8px;
    color: #f0f0e6;
}

.skills-bar .bar .progress-line {
    position: relative;
    height: 10px;
    width: 550px;
    background: #f0f0f0;
    border-radius: 10px;
    transform: scaleX(0);
    transform-origin: left;
    animation: animate 1s cubic-bezier(1, 0, 0.5, 1) forwards;
}

.bar .progress-line span {
    position: absolute;
    background: #1C2833;
    height: 100%;
    border-radius: 10px;
    transform: scaleX(0);
    transform-origin: left;
    animation: animate 1s 1s cubic-bezier(1, 0, 0.5, 1) forwards;
}

@keyframes animate {
    100% {
      transform: scaleX(1);
    }
}
  
.progress-line .html {
    width: 70%;
}
.progress-line .css {
    width: 60%;
}
.progress-line .javascript {
    width: 40%;
}
.progress-line .java {
    width: 50%;
}
.progress-line .python {
    width: 40%;
}
.progress-line .c {
    width: 60%;
}
.progress-line .cplus{
    width: 60%;
}

.bar .progress-line span::before {
    position: absolute;
    content: "";
    height: 0;
    right: 0;
    top: -12px;
    width: 0;
    border: 7px solid transparent;
    border-bottom-width: 0px;
    border-right-width: 0px;
    border-top-style: #f0f0f0;
    border-top-color: #f0f0f0;
  }
  
.bar .progress-line span::after {
    position: absolute;
    right: 0;
    top: -28px;
    color: #1C2833;
    font-size: 12px;
    font-weight: 700;
    background: #f0f0f0;
    padding: 1px 8px;
    border-radius: 3px;
}
  
.progress-line .html::after {
    content: "70%";
}
.progress-line .css::after {
    content: "60%";
}
.progress-line .javascript::after {
    content: "40%";
}

.progress-line .java::after {
    content: "50%";
}

.progress-line .python::after{
    content: "40%";
}
.progress-line .c::after {
    content: "60%";
}

.progress-line .cplus::after{
    content: "60%";
}

/* Resume */

.resume{
    font-family: 'Ubuntu', sans-serif;
    width: auto;
    height: 1000px;
    background-color: #566573;
}
.resume h3{
    padding-top: 40px;
    margin-bottom: 50px;
    font-size: 2.5em;
    color: #1C2833 ;
    display: flex;
    justify-content: center;
}

.my-resume{
    padding: 10px;
    text-align: center;
    /* background-color: #566573; */
}
.my-resume iframe{
    width: 60%;
    height:800px;
    border-radius: 2%;
}

/* contact */

.contact{
    font-family: 'Ubuntu', sans-serif;
    width: auto;
    height: 655px;
    background-color: #34495E;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact h3{
    padding-top: 30px;
    margin-bottom: 50px;
    font-size: 2.5em;
    color: beige ;
    display: flex;
    justify-content: center;
}

.contact-form {
    padding: 30px;
}

.contact-container{
    max-width: 600px;
    padding: 0 50px ;
}

.contact-form input[type="text"], .contact-form input[type="email"], .contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    outline: none;
    transition: 0.3s ease;
}

.contact-form input[type="text"]:focus, .contact-form input[type="email"]:focus, .contact-form textarea:focus {
    border-color: #1C2833;
}

.contact-form button[type="submit"] {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;
    background-color: #1C2833;
    color: #ffffff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.contact-form button[type="submit"]:hover {
    opacity: 0.7;
}

/* footer */

footer{
    background-color: #566573;
    position: relative;
    height: 40vh;
}
.footer-container{
    font-family: 'Ubuntu', sans-serif;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.footer-container .mail{
    color: #1C2833;
    padding-bottom: 0.2rem;
    font-size: 1.5rem;
}

.footer-container .links{
    color: #BDC3C7;
    padding: 0.5rem;
    padding-bottom: 0.5rem;
    font-size: 1.2rem;
}

.footer-container a {
    text-decoration: none;
    color: #1C2833;
    font-size: 1.5em;
    padding: 1rem;
    transition: 0.3s ease-in-out;
}
  
.footer-container a:hover {
    color: #f0f0e6;
}


